<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WiFi File Share</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrap">
    <div class="card">
      <h1>WiFi File Share</h1>
      <div class="muted">
  Share files instantly between devices connected to the same Wi-Fi or Local Network.
  Upload files from any device and download them securely through your browser.
      </div>
        <code>http://YOUR-PC-IP:5000</code>
      </div>

    <div class="card">
      <h2 style="margin-top:0;">Send files or a folder</h2>
      <input id="files" type="file" multiple>
      <div id="drop" class="drop">Drag and drop files here</div>
      <div class="row">
        <button onclick="uploadFiles()">Upload</button>
        <button class="secondary" onclick="refreshList()">Refresh list</button>
        <button class="danger" onclick="deleteSelected()">Delete Selected</button>
        <button class="danger" onclick="deleteAllFiles()">Delete All</button>
      </div>
      <div class="row" style="margin-top:10px;">
        <label class="muted">
          <input type="checkbox" id="selectAll" onchange="toggleSelectAll(this)">
          Select All
        </label>
      </div>
      <div id="msg"></div>
    </div>

    <div class="card">
      <h2 style="margin-top:0;">Shared files</h2>
      <ul id="list"></ul>
    </div>
  </div>

  <div id="previewModal" class="modal hidden" onclick="closePreview(event)">
    <div class="modal-box">
      <div class="modal-top">
        <div id="previewTitle" class="modal-title"></div>
        <button class="secondary" onclick="closePreview()">Close</button>
      </div>
      <div id="previewBody" class="preview-body"></div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <footer class="footer">
  <p>
    Made with ❤️ using Python & Flask • Open Source on GitHub
  </p>
</footer>
</body>
</html>